extends layout

block content
  h1 #{title}
  form(method='POST', action='/links/add')
    #form-group
      label URL:
      input.form-control(name='url', type='text' autofocus)

    #form-group
      label Title:
      input.form-control(name='title',type='text')

    #form-group
      label Category:
      select.form-control(name='category')
        <option>Video</option>
        <option>Tutorial</option>
        <option>Article</option>
        <option>StackOverflow</option>
        <option>GitHub</option>
        <option>Reddit</option>
        <option>Other</option>
    br
    input.btn.btn-primary(type='submit', value='Submit')
