extends layout

block content
  h1.section-title #{title}
  div.categories-container
    ul.categories
      li Categories:
      li Video
      li StackOverflow
      li Tutorial
      li Blog Post
  ul.list-group
    each link, i in links
      div.panel.panel-default
        div.panel-heading
          h3.panel-title= link.title
          div.panel-under-title
            p Submitted by #{link.submitter}
            if user && user.name == link.submitter
              a(href="#") Edit/Delete
        div.panel-body
          a.panel-link-url(href="https://"+link.url)= link.url

