extends layout

block content
  h1= link.title
  h5 Submitted by #{submitter}
  p= link.body
  
  if user
    if user.id == link.submitter
      hr
      a.btn.btn-default(href='/articles/edit/'+link._id) Edit
      a.btn.btn-danger.delete-article(href='#', data-id=link._id) Delete
