extends layout

block content
  h1 Login
  form(method='POST', action='/users/login')
    #form-group
      label Username:
      input.form-control(name='username')
    
    #form-group
      label Password:
      input.form-control(name='password',type='password')


    #form-group
      div.checkbox
        <label>
          <input type="checkbox" name="remember_me_checkbox" value="yes" checked> Remember me
        </label>


    input.btn.btn-primary(type='submit', value='Submit')
