
:root{
    /*Background colour*/
    --background-color: #f5f5f5 ;

    /*Category colours*/
    --video-color: #F44336;
    --tutorial-color: #03A9F4;
    --article-color: #4CAF50;
    --stackoverflow-color: #FFC107;
    --github-color: #E91E63;
    --reddit-color:#ff4500;
    --other-color: #9C27B0;
    --greyed-out: #AAAFB4;
}

