
.categories-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

}
.categories {
    padding-left: 0;
    display: flex;
}

.categories > li{
    list-style: none;
    color: #111;
    padding: 0 2rem 0 0.5rem;

}

.categories > li:first-child{
    border: none;
    white-space: nowrap;
    overflow: hidden;
}



.category:hover{
    cursor: pointer;
}

.category{
    transition: border-left .15s;
    user-select: none;
}

/*When category is selected*/
.category-selected:not(:first-child):after{
    display: block;
    content: '';
    border-bottom: solid 1px #000;
    transform-origin:  50% 50%;
    animation: border 200ms ease-in-out;
}

@keyframes border {
    from{transform: scaleX(0);}
    to{transform: scaleX(1)}
}



/* Colored Boxes */
.category-video {
    border-left: 20px solid var(--video-color);
}

.category-tutorial{
    border-left: 20px solid var(--tutorial-color);
}

.category-article{
    border-left: 20px solid var(--article-color);
}

.category-stackoverflow{
    border-left: 20px solid var(--stackoverflow-color);
}

.category-github{
    border-left: 20px solid var(--github-color);
}

.category-reddit{
    border-left: 20px solid var(--reddit-color);
}

.category-other{
    border-left: 20px solid var(--other-color);
}

.greyed-out{
    border-left: 20px solid var(--greyed-out);
}
