
.panel {
    border-left: 3px solid #00b3ee;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.panel-heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.panel-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.panel-under-title{
    display: flex;
    justify-content:space-between;
}

.panel-link-url {
    font-size: 2rem;

}